<div class="city" style="font-size: 72px; position: absolute; right: 0; bottom: 0; margin-bottom: 150px; margin-right: 25px;">
  <%= @city %>
</div>
<div class="weather-container" style="font-size: 64px; display: flex; position: absolute; right: 0; bottom: 0; margin-bottom: 3px; margin-right: 600px;">
  <%= image_tag("http://openweathermap.org/img/wn/#{@weather['icon']}@2x.png") %>
  <%= ((@temperature['temp'] - 273.15) * 9 / 5 + 32).round %>°F
</div>
<div class="clock" style="font-size: 144px; position: absolute; bottom: 0; right: 0; margin-right: 20px;"></div>

<script>

  const urls = <%= raw @urls %>
  let div = document.querySelector('.clock')

  const slideshow = (i) => {
    setTimeout(() => {
      document.body.style = `background-image: url(${urls[Math.floor(Math.random() * urls.length)]})`;
      let today = new Date()
      hour = today.getHours()
      minute = today.getMinutes()
      if (minute < 10) {
        minute = "0" + minute
      }
      if (hour > 12) {
        hour = hour - 12
        div.innerText = `${hour}:${minute} PM`
      } else {
        div.innerText = `${hour}:${minute} AM`
      }
    }, 30000 * i);
  }

  let i = 0
  while (i < urls.length * 6) {
    slideshow(i);
    i++;
  }

  const refetch = (() => {
    setTimeout(() => {
      location.reload()
    }, 900000)
  })()
</script>