* {
  font-family: 'fira sans';
  color: white;
}

html {
  display: flex;
  height: 100vh;
  background-color: black;
}

body {
  flex: 1;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}